<div id="fitting" ng-controller="FittingController as fitting">
    <div class="row">
        <div class="categories col-xs-3 col-md-3">
            <div class="list-group">
                <div class="list-group-item active">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <div class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</div>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </div>
            </div>
        </div>
        <div class="main-panel col-xs-12 col-md-9">
            <div class="slider">
ccc
            </div>
            <div class="main-content">
xxx
            </div>
            <div class="more-products">

            </div>
        </div>
    </div>
</div>